<!doctype html>
<html th:fragment="layout (template, menu)">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Time Reports</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

<body>

  <div class="container-fluid">
  	<div class="row">
  		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
		      <div class="sidebar-sticky">
		        <ul class="nav flex-column">
		          <li class="nav-item">
		            <a th:class="${menu=='index' ? 'nav-link active' : 'nav-link'}" href="/">
		              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
		              <th:block th:text="#{menu.home}">Home</th:block>
		            </a>
		          </li>
		          <li class="nav-item">
		            <a th:class="${menu=='reports' ? 'nav-link active' : 'nav-link'}" href="/reports">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
					<th:block th:text="#{menu.reports}">Reports</th:block>
		            </a>
		          </li>
		         <li class="nav-item">
		         <a class="nav-link" style="display: none" target="_new" href="http://localhost:8080/h2-console">H2</a>
		        </ul>
		      </div>
		</nav>
  	
  	
  		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  		
  		 	<th:block th:include="${template}"/>
  		 	
  		</main>
  	</div>
     
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>